.swiper {
    width: 100%;
    height: 100%;
    position: relative;
    
  }
  
  .swiperSlide {
     text-align: center;
    font-size: 18px;
  

    /* Center slide text vertically  */
     display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiperSlide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  